{
  "default-ulimits": {
    "nofile": {
      "Hard": 64000,
      "Name": "nofile",
      "Soft": 64000
    }
  },
  "experimental": false,
  "ip": "{{ bind_ip }}",
  "ipv6": false,
  "log-driver": "json-file",
  "log-opts": {
    "cache-disabled": "false",
    "cache-max-file": "5",
    "cache-max-size": "20m",
    "cache-compress": "true",
    "env": "os,customer",
    "max-file": "5",
    "max-size": "10m"
  },
  "max-concurrent-downloads": 3,
  "max-concurrent-uploads": 5,
  "max-download-attempts": 5,
  "tls": {{ configure_tls | bool | lower }},
  "tlscacert": "{{ tls_ca_cert_path }}",
  "tlscert": "{{ tls_cert_path }}",
  "tlskey": "{{ tls_key_path }}",
  "tlsverify": {{ authenticate_clients | bool | lower }},
  "userland-proxy": false,
}